{% extends 'base.html.twig' %}

{% block title %}EventsLevel index{% endblock %}

{% block body %}
    <h1>EventsLevel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for events_level in events_levels %}
            <tr>
                <td>{{ events_level.id }}</td>
                <td>{{ events_level.Name }}</td>
                <td>{{ events_level.Title }}</td>
                <td>
                    <a href="{{ path('app_events_level_show', {'id': events_level.id}) }}">show</a>
                    <a href="{{ path('app_events_level_edit', {'id': events_level.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет ни одной записи</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_events_level_new') }}">Create new</a>
{% endblock %}
