{% extends 'base.html.twig' %}
{% set refer = 0 %}
{% set canreset = 0 %}
{% set page_title =  "Приемная кампания" %}
{% set sub_page_title = 'Панель управления' %}

{% block title %}
    {% if page_title is defined %} {{ page_title }} {% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 ">
            <div class="block block-rounded block-bordered block-themed">
                <div class="block-header block-header-default bg-secondary">
                    <h3 class="block-title">Ход приемной кампании <small></small></h3>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col-12 col-xl-9">
                            <h2 class="content-heading border-bottom mb-4 pb-2"><span class="lead fw-bold">Общие сведения</span>
                            </h2>
                            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 ">
                                {% for metric in SummaryMetricReport %}

                                    <div class="block-rounded text-center mb-3">
                                        <div class="block-content bg-body-light ">
                                            <i class=" {{ metric.Icon }} fa-3x {{ metric.Color }}"></i>
                                            <div class="fs-3 fw-semibold  {{ metric.Color }}">{{ metric.Value }}</div>
                                            <div class="fw-bold pb-4 fs-6 text-uppercase text-break">{{ metric.Title }}</div>
                                            {% if (metric.Title=='Доступны для загрузки')and(metric.Value>0) %}
                                                {% if is_granted('ROLE_STAFF_AB_PETITIONS_VIS') %}
                                                    <div class="btn-group" role="group" aria-label=VISLOAD">
                                                        <a type="button" class="btn btn-secondary"
                                                           href="{{ path('app_abiturient_petition_loadFromVIS') }}"><i
                                                                    class='fa-solid fa-file-circle-plus'></i> Загрузить
                                                            новые</a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <h2 class="content-heading border-bottom mb-4 pb-2"><span class="lead fw-bold">Сведения по специальностям</span>
                            </h2>
                            <div class="row">
                                {% for item in facultyPetitionCount %}

                                    <div class="col-12 col-sm-6 col-lg-4">
                                        <div class="block block-rounded block-themed  mb-4">
                                            <div class="block-header bg-secondary">
                                                {{ item.Faculty }}
                                            </div>
                                            <div class="block-content block-content-full bg-body-light ">

                                                <div class="row">
                                                    <div class="col-4 mx-auto">
                                                        <div class="fs-2 fw-semibold  text-success">{{ item.PetitionCount }}</div>
                                                        <div class="fw-bold text-uppercase">Всего</div>
                                                    </div>
                                                    <div class="col-8">
                                                        <dl class="row">
                                                            <dt class="col-9 mb-0 fw-normal">Оригиналов</dt>
                                                            <dd class="col-3 mb-0 fw-bolder"><span
                                                                        class="text-info">{{ item.Origins }}</span></dd>
                                                            <dt class="col-9 mb-0 fw-normal">Отозвано</dt>
                                                            <dd class="col-3 mb-0 fw-bolder"><span
                                                                        class="text-warning">{{ item.Rejected }}</span>
                                                            </dd>
                                                            <dt class="col-9 mb-0 fw-normal">Зарегистрировано</dt>
                                                            <dd class="col-3 mb-0 fw-bolder"><span
                                                                        class="text-danger">{{ item.Registred }}</span>
                                                            </dd>
                                                            <dt class="col-9 mb-0 fw-normal">В ФИС ГИА</dt>
                                                            <dd class="col-3 mb-0 fw-bolder"><span
                                                                        class="text-info">{{ item.FISGIA }}</span></dd>
                                                            <dt class="col-9 mb-0 fw-normal">Рекомендованы</dt>
                                                            <dd class="col-3 mb-0 fw-bolder"><span
                                                                        class="text-success">{{ item.Enroll }}</span></dd>
                                                            <dt class="col-9 mb-0 fw-normal">Зачислено</dt>
                                                            <dd class="col-3 mb-0 fw-bolder"><span
                                                                        class="text-success">{{ item.Induct }}</span></dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="block-header mx-auto bg-secondary">
                                                <div class="row row-cols-1">
                                                    <a
                                                            class="btn btn-outline-light text-center mx-auto mb-2 block-link-shadow"
                                                            href="{{ path('app_admission_dashboard_faculty_petition_index',{admission:item.Admission.id,faculty:item.Faculty.id}) }}">
                                                        Список заявлений
                                                    </a>

                                                    {% if (item.Faculty.getAdmissionExaminations().getValues()|length>0) %}
                                                        <a class="btn btn-outline-light text-center mx-auto w-100 mb-2 "
                                                           href="{{ path('app_abiturient_petition_show_by_admission_and_faculty_and_exam_result',{admissionID:item.Admission.id,facultyID:item.Faculty.id,facultyTitle:item.Faculty.Name}) }}">Рейтинг
                                                            оригиналов с учетом ВИ</a>
                                                    {% else %}
                                                        <a class="btn btn-outline-light text-center mx-auto w-100 mb-2 "
                                                           href="{{ path('app_abiturient_petition_show_by_admission_and_faculty',{admissionID:item.Admission.id,facultyID:item.Faculty.id,facultyTitle:item.Faculty.Name}) }}">Рейтинг
                                                            оригиналов</a>
                                                    {% endif %}



                                                    <a class="btn btn-outline-light text-center mx-auto w-100 mb-2 "
                                                       href="{{ path('app_abiturient_petition_show_by_admission_and_faculty_enroll',{admissionID:item.Admission.id,facultyID:item.Faculty.id,facultyTitle:item.Faculty.Name}) }}">Рекомендованные</a>

                                                    <a class="btn btn-outline-light text-center mx-auto w-100 mb-2 "
                                                       href="{{ path('app_abiturient_petition_show_by_admission_and_faculty_induct',{admissionID:item.Admission.id,facultyID:item.Faculty.id,facultyTitle:item.Faculty.Name}) }}">Зачисленные</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-12 col-xl-3">
                            <h2 class="content-heading border-bottom mb-4 pb-2"><span class="fw-bold">Распределение заявлений по регионам</span>
                            </h2>
                            <div class="row">
                                {% for region in byRegionsReport %}
                                    {% if region.Count>0 %}
                                        <div class="row">
                                            <div class="col-10 fs-base">{{ region.Title }}</div>
                                            <div class="col-2 fw-bold">{{ region.Count }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}