{% extends 'base.html.twig' %}
{% if  form.vars.value.blockStudentEdit is defined %}
    {% set blockStudentEdit= form.vars.value.blockStudentEdit %}
{% else %}
    {% set blockStudentEdit=false %}
{% endif %}
{% if form.vars.value.ShowGenerator is defined %}
    {% set ShowGenerator= form.vars.value.ShowGenerator %}
{% else %}
    {% set ShowGenerator=false %}
{% endif %}
{% set student=form.vars.value.student %}
{% set refer = 0 %}
{% set refer_link=path('app_user_show',{'id':student.id}) %}
{% set canreset = 0 %}
{% set  sub_page_title=  student.LastName~" "~student.FirstName~" "~student.MiddleName %}
{% set page_title = 'Характеристика на студента' %}

{% block title %}
    {% if page_title is defined %} {{ page_title }} {% endif %}
{% endblock %}

    {% block topmenu_items %}
        {{ parent() }}
        {{ include('characteristic/_delete_form.html.twig') }}
        <button type="button" class="btn btn-sm btn-alt-primary" disabled data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
            Сгенерировать характеристику (в разработке)
        </button>
        <button type="submit" form="characteristic" class="btn btn-sm  btn-primary">{{ button_label|default('Save') }}</button>
    {% endblock %}
{% block body %}
    {{ include('characteristic/_form.html.twig', {'button_label': 'Записать изменения'}) }}
    {{ include('characteristic/_generate_modal.html.twig') }}


{% endblock %}
{% block customjs %}
    {% if (ShowGenerator) %}
        var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
        modal.show();
    {% endif %}

    ClassicEditor
    .create( document.querySelector( '#ckeditor' ) )
    .catch( error => {
    console.error( error );
    } );

{% endblock %}
