{% extends 'base.html.twig' %}

{% block title %}Characteristic index{% endblock %}

{% block body %}
    <h1>Characteristic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreateData</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for characteristic in characteristics %}
            <tr>
                <td>{{ characteristic.id }}</td>
                <td>{{ characteristic.CreateData ? characteristic.CreateData|date('Y-m-d') : '' }}</td>
                <td>{{ characteristic.Content }}</td>
                <td>
                    <a href="{{ path('app_characteristic_show', {'id': characteristic.id}) }}">show</a>
                    <a href="{{ path('app_characteristic_edit', {'id': characteristic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_characteristic_new') }}">Create new</a>
{% endblock %}
