{% extends 'base.html.twig' %}

{% block title %}Characteristic{% endblock %}

{% block body %}
    <h1>Characteristic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ characteristic.id }}</td>
            </tr>
            <tr>
                <th>CreateData</th>
                <td>{{ characteristic.CreateData ? characteristic.CreateData|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td >{{ characteristic.Content | raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_characteristic_index') }}">back to list</a>

    <a href="{{ path('app_characteristic_edit', {'id': characteristic.id}) }}">edit</a>

    {{ include('characteristic/_delete_form.html.twig') }}
{% endblock %}
