{% extends 'base.html.twig' %}

{% block title %}AccessSystemControl index{% endblock %}

{% block body %}
    <h1>AccessSystemControl index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AccessCardSeries</th>
                <th>AccesCardNumber</th>
                <th>IssueDate</th>
                <th>IsLocked</th>
                <th>LockDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for access_system_control in access_system_controls %}
            <tr>
                <td>{{ access_system_control.id }}</td>
                <td>{{ access_system_control.AccessCardSeries }}</td>
                <td>{{ access_system_control.AccesCardNumber }}</td>
                <td>{{ access_system_control.IssueDate ? access_system_control.IssueDate|date('Y-m-d') : '' }}</td>
                <td>{{ access_system_control.IsLocked ? 'Yes' : 'No' }}</td>
                <td>{{ access_system_control.LockDate ? access_system_control.LockDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_access_system_control_show', {'id': access_system_control.id}) }}">show</a>
                    <a href="{{ path('app_access_system_control_edit', {'id': access_system_control.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Нет ни одной записи</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_access_system_control_new') }}">Create new</a>
{% endblock %}
