{% extends 'base.html.twig' %}

{% block title %}ContingentDocument index{% endblock %}

{% block body %}
    <h1>ContingentDocument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>CreateDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contingent_document in contingent_documents %}
            <tr>
                <td>{{ contingent_document.id }}</td>
                <td>{{ contingent_document.number }}</td>
                <td>{{ contingent_document.createDate ? contingent_document.createDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_contingent_document_show', {'id': contingent_document.id}) }}">show</a>
                    <a href="{{ path('app_contingent_document_edit', {'id': contingent_document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contingent_document_new') }}">Create new</a>
{% endblock %}
