{% extends 'base.html.twig' %}
{% set refer=1 %}
{% set refer = 1 %}
{% set canreset = 1 %}
{% set page_title =  'Приказы по контингенту'  %}
{% set sub_page_title = 'Просмотр приказа' %}
{% set refer_link =path('app_contingent_document_index') %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-4">
        <div class="block block-rounded block-bordered block-themed">
            <div class="block-header block-header-default bg-secondary">
                <h3 class="block-title text-center text-md-start">Информация о приказе</h3>
                <div class="block-options">
                    <div class="block-options-item">
                        <div class="btn-group" role="group" aria-label="Icons File group">
                            <a href="{{ path('app_contingent_document_print',{id:contingent_document.id}) }}" type="button" class="btn btn-primary">
                                <i class="fa fa-fw fa-print"></i>
                            </a>
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-fw fa-trash-can"></i>
                            </button>
                            <a href="{{ path('app_contingent_document_edit', {'id': contingent_document.id}) }}"
                               type="button" class="btn btn-alt-primary"><i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-content pb-4">
                <div class="row">
                    <p>
                        <b>ПОО: </b>{{ contingent_document.college }}
                    </p>
                </div>
                <div class="row">
                    <p><b>Номер приказа: </b> {{ contingent_document.number }}</p>
                    <div class="row">
                        <p>
                            <b>Дата: </b>{{ contingent_document.createDate ? contingent_document.createDate|date('Y-m-d') : '' }}
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <b>Вид приказа: </b>{{ contingent_document.type }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 col-md-8">
        <div class="block block-rounded block-bordered block-themed">
            <div class="block-header block-header-default bg-secondary">
                <h3 class="block-title text-center text-md-start">Студенты в приказе</h3>


            </div>
            <div class="block-content">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                    <thead>
                    <tr>
                        <th class="w-auto">№п/п</th>
                        <th class="w-auto">ФИО</th>
                        <th class="w-auto">Группа</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set itterator=0 %}
                    {% for element in contingent_document.student %}
                        {% set itterator=itterator+1 %}
                        <tr>
                            <td>
                                {{ itterator }}
                            </td>
                            <td>{{ element.LastName~" "~element.FirstName~" "~element.MiddleName }}</td>
                            <td>{{ element.StudentGroup }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
    {% endblock %}
