{{ form_start(form) }}
    {# }{ form_widget(form) } #}

<!-- Form Labels on top - Default Style -->
<form name="{{ form.vars.name }}" method="POST">
    <div class="row">
        <div class="col-12 col-xl-2">
            <div class="block pb-3">
                <div class="block-content text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                         alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h6 class="my-2">{{ student.firstName~" "~student.LastName }}</h6>
                    <div class="row"><small>UUID:{{ student.uuid }}</small></div>
                    {% set difference = date(student.birthData|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
                    {% set leftDays = difference.days %}
                    <small class="text-muted mb-1">...role...</small><br>
                    <small class="text-muted mb-1">группа {{ student.studentgroup.name }}, </small>
                    <small class="text-muted mb-1">{{ (leftDays // 365)~" лет" }}  </small><br>
                </div>
            </div>

            <div class="block block-rounded block-themed block-bordered">
                <div class="block-header bg-secondary">
                    <h3 class="block-title">Служебная информация <small> </small></h3>
                </div>
                <div class="block-content text-left">
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.isActive) }}
                        <label class="form-check-label">{{ form_label(form.isActive) }}</label>
                    </div>
                    <div class="d-flex justify-content-center mb-2"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-10">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="block block-rounded block-themed block-bordered">
                        <div class="block-header bg-secondary">
                            <h3 class="block-title">Основная информация <small> </small></h3>
                        </div>
                        <div class="block-content">
                            <div class="col-12 ">
                                <div class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.LastName,'Фамилия') }}</span>
                                        {{ form_widget(form.LastName,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.LastName,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.LastName) }}</small>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.FirstName,'Имя') }}</span>
                                        {{ form_widget(form.FirstName,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.FirstName,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.FirstName) }}</small>
                                    </div>
                                </div>
                                <div class="col-12  mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.MiddleName,'Отчество') }}</span>
                                        {{ form_widget(form.MiddleName,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.MiddleName,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.MiddleName) }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4  mb-2">
                                        <div class="input-group">
                                            <span class="input-group-text">{{ form_label(form.Gender,'Пол') }}</span>
                                            {{ form_widget(form.Gender,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                            {{ form_errors(form.Gender,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                            <small>{{ form_help(form.Gender) }}</small>
                                        </div>
                                    </div>
                                    <div class="col-8  mb-2">
                                        <div class="input-group">
                                            <span class="input-group-text">{{ form_label(form.BirthData,'Дата рождения') }}</span>
                                            {{ form_widget(form.BirthData,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                            {{ form_errors(form.BirthData,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                            <small>{{ form_help(form.BirthData) }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.studentGroup,'Группа') }}</span>
                                        {{ form_widget(form.studentGroup,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        <button type="button" class="btn btn-outline-secondary"><i
                                                    class="fa-solid fa-circle-plus"></i></button>
                                        {{ form_errors(form.studentGroup,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.studentGroup) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="block block-rounded block-themed block-bordered">
                        <div class="block-header bg-secondary">
                            <h3 class="block-title">Адреса и контакты <small> </small></h3>
                        </div>
                        <div class="block-content">
                            <div class="col-12">
                                <div class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.AddressFact,'Адрес факт.') }}</span>
                                        {{ form_widget(form.AddressFact,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.AddressFact,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.AddressFact) }}</small>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.AddressMain,'Адрес рег.') }}</span>
                                        {{ form_widget(form.AddressMain,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.AddressMain,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.AddressMain) }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-2">
                                        <div class="input-group">
                                            <span class="input-group-text">{{ form_label(form.email,'Email') }}</span>
                                            {{ form_widget(form.email,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                            {{ form_errors(form.email,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                            <small>{{ form_help(form.email) }}</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-2">
                                        <div class="input-group">
                                            <span class="input-group-text">{{ form_label(form.PhoneNumber,'Телефон') }}</span>
                                            {{ form_widget(form.PhoneNumber,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                            {{ form_errors(form.PhoneNumber,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                            <small>{{ form_help(form.PhoneNumber) }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="block block-rounded block-themed block-bordered">
                        <div class="block-header bg-secondary">
                            <h3 class="block-title">Социальный учёт <small> </small></h3>
                        </div>
                        <div class="block-content">
                            <div class="col-12 ">
                                <div class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.FamilyTypeID,'Тип семьи') }}</span>
                                        {{ form_widget(form.FamilyTypeID,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        <button type="button" class="btn btn-outline-secondary"><i
                                                    class="fa-solid fa-circle-plus"></i></button>
                                        {{ form_errors(form.FamilyTypeID,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.FamilyTypeID) }}</small>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.HealtgGroupID,'Группа здоровья') }}</span>
                                        {{ form_widget(form.HealtgGroupID,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        <button type="button" class="btn btn-outline-secondary"><i
                                                    class="fa-solid fa-circle-plus"></i></button>
                                        {{ form_errors(form.HealtgGroupID,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.HealtgGroupID) }}</small>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-check form-check-inline">
                                        {{ form_widget(form.IsOrphan) }}
                                        <label class="form-check-label"
                                               for="example-checkbox-default1">{{ form_label(form.IsOrphan) }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        {{ form_widget(form.IsPaid) }}
                                        <label class="form-check-label"
                                               for="example-checkbox-default1">{{ form_label(form.IsPaid) }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        {{ form_widget(form.IsInvalid) }}
                                        <label class="form-check-label"
                                               for="example-checkbox-default1">{{ form_label(form.IsInvalid) }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        {{ form_widget(form.IsPoor) }}
                                        <label class="form-check-label"
                                               for="example-checkbox-default1">{{ form_label(form.IsPoor) }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        {{ form_widget(form.isLiveStudentAccommondation) }}
                                        <label class="form-check-label"
                                               for="example-checkbox-default1">{{ form_label(form.isLiveStudentAccommondation) }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="block block-rounded block-themed block-bordered">
                        <div class="block-header bg-secondary">
                            <h3 class="block-title">Документы<small></small></h3>
                        </div>
                        <div class="block-content block-content-full">
                            <h2 class="content-heading">Учебные документы</h2>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.NumberZachetka,'Номер зачётки') }}</span>
                                        {{ form_widget(form.NumberZachetka,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.NumberZachetka,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.NumberZachetka) }}</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.NumberStudBilet,'Номер студ. билета') }}</span>
                                        {{ form_widget(form.NumberStudBilet,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.NumberStudBilet,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.NumberStudBilet) }}</small>
                                    </div>
                                </div>
                            </div>
                            <h2 class="content-heading">Личные документы</h2>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.DocumentSnils,'СНИЛС') }}</span>
                                        {{ form_widget(form.DocumentSnils,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.DocumentSnils,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.DocumentSnils) }}</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.DocumentMedicalID,'Страховой полис') }}</span>
                                        {{ form_widget(form.DocumentMedicalID,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.DocumentMedicalID,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.DocumentMedicalID) }}</small>
                                    </div>
                                </div>
                            </div>
                            <h2 class="content-heading">Паспортные данные</h2>
                            <div class="row mb-2">
                                <div class="col-12 col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.PasportSeries,'Серия') }}</span>
                                        {{ form_widget(form.PasportSeries,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.PasportSeries,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.PasportSeries) }}</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.PasportNumber,'Номер') }}</span>
                                        {{ form_widget(form.PasportNumber,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.PasportNumber,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.PasportNumber) }}</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-text">{{ form_label(form.PasportDate,'Дата выдачи') }}</span>
                                        {{ form_widget(form.PasportDate,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.PasportDate,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.PasportDate) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="input-group">
                                    <span class="input-group-text">{{ form_label(form.PasportIssueOrgan,'Выдан') }}</span>
                                    {{ form_widget(form.PasportIssueOrgan,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                    {{ form_errors(form.PasportIssueOrgan,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                    <small>{{ form_help(form.PasportIssueOrgan) }}</small>
                                </div>

                            </div>
                            <a href="#" type="button" class="btn btn-sm btn-primary">Перенести в документы</a>

                            <div class="block block-rounded">
                                <div class="block-header px-0">
                                    <h2 class="content-heading">Документы <small>Дополнительные документы</small></h2>
                                    <div class="block-options">
                                        <a href="{{ path('app_personal_documents_new',{'studentid':student.id}) }}"
                                           type="button" class="btn btn-outline-primary"><i
                                                    class="fa-solid fa-circle-plus"></i></a>
                                    </div>
                                </div>
                                <div class="block-content px-0 block-content-full">
                                    <div class="row">
                                        <table class="table table-bordered table-striped table-vcenter js-dataTable-full dataTable no-footer">
                                            <thead>
                                            <th class="">Вид документа</th>
                                            <th class="">Серия</th>
                                            <th class="">Номер</th>
                                            <th class="d-none d-xl-table-cell">Дата выдачи</th>
                                            <th class="d-none d-xl-table-cell">Кто выдал</th>
                                            <th class="d-none d-xl-table-cell">Комментарий</th>
                                            <th class="">Действия</th>

                                            </thead>
                                            <tbody>
                                            {% for presonaldoc in student.personalDocuments %}
                                                <tr>
                                                    <td>{{ presonaldoc.getDocumentType() }}</td>
                                                    <td>{{ presonaldoc.getDocumentSeries() }}</td>
                                                    <td> {{ presonaldoc.getDocumentNumber() }}</td>
                                                    <td class="d-none d-xl-table-cell">{{ presonaldoc.getDocumentIssueDate()|format_date('short',locale="ru") }}</td>
                                                    <td class="d-none d-xl-table-cell">{{ presonaldoc.getDocumentOfficialSeal() }}</td>
                                                    <td class="d-none d-xl-table-cell">{{ presonaldoc.getComment() }}</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled"
                                                               href="{{ path('app_personal_documents_show',{'id': presonaldoc.id}) }}"><i
                                                                        class="fa-solid fa-file"></i></a>
                                                            <a class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled"
                                                               href="{{ path('app_personal_documents_edit',{'id': presonaldoc.id}) }}"><i
                                                                        class="fa fa-fw fa-pencil-alt"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ form_row(form._token) }}

    <div class="row">
        <div class="col-12">
            <div class="block block-rounded block-themed block-bordered">
                <div class="block-header bg-secondary">
                    <h3 class="block-title"></h3>
                    <div class="block-options ">
                        <button class="btn btn-outline-light">{% if buttonicon is defined %}<i
                                class="fa-fw {{ buttonicon }}"></i> {% endif %}{{ button_label|default('Сохранить') }}
                        </button>

                        {% if canreset==1 %}
                            <button type="reset" class="btn btn-alt-danger"><i
                                        class="fa-regular fa-fw fa-eraser"></i> Очистить
                            </button>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{{ form_end(form) }}
