
{{ form_start(form, {'attr': {'id': 'student_groups'}}) }}
<div class="block block-rounded">
    <div class="block-content">
        <div class="row">
            <div class="col-12 col-xl-4">
                <h2 class="content-heading border-bottom ">Классный руководитель</h2>
                {{ form_row(form.groupLeader) }}
                <h2 class="content-heading border-bottom ">Период обучения</h2>
                <div class="row">
                    <div class="col-6"> {{ form_row(form.DateStart) }}</div>
                    <div class="col-6">{{ form_row(form.DataEnd) }}</div>
                </div>
                <h2 class="content-heading border-bottom ">Курс/параллель</h2>
                <div class="row">
                    <div class="col-6">{{ form_row(form.CourseNumber) }}</div>
                    <div class="col-6"> {{ form_row(form.ParallelNumber) }}</div>
                </div>


            </div>
            <div class="col-12 col-xl-8">
                <h2 class="content-heading border-bottom">Основные сведения</h2>
                <div class="row">
                    <div class="col-12 col-xl-6">{{ form_row(form.code) }}</div>
                    <div class="col-12 col-xl-6">{{ form_row(form.Name) }}</div>
                </div>
                {{ form_row (form.faculty) }}
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
</div>


{{ form_end(form) }}
