{% extends 'base.html.twig' %}
{% set page_title = 'Студенческие группы' %}
{% set sub_page_title = 'Список групп' %}

{% block title %}
    {% if page_title is defined %} {{ page_title }} {% endif %}
{% endblock %}


{% block body %}
    <div class="">
        <div class="block block-rounded block-themed block-bordered">
            <div class="block-header block-header-default bg-secondary">
                <h3 class="block-title">{{ page_title }} <small></small></h3>
                <div class="block-options">

                    <a href="{{ path('app_student_groups_new') }}" type="button"
                       class="btn btn-outline-light btn-lg w-100 js-bs-popover-enabled"
                       data-bs-toggle="popover"
                       data-bs-placement="top" title=""
                       data-bs-content="Добавить"
                       data-bs-original-title="Добавить нового студента">
                        <i class="far fa-fw fa-plus"></i>Добавить
                    </a>

                </div>
            </div>
            <div class="block-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row">
                        <div class="col-sm-12">

                            {{ dump(student_groups) }}
                            <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive"
                                   aria-describedby="DataTables_Table_0_info">
                                <thead class="text-center">
                                <th>№ п/п</th>
                                <th>Имя группы</th>
                                <th>Куратор</th>
                                <th>Курс/Параллель</th>
                                <th>Действия</th>
                                </thead>
                                <tbody>

                                {% for student_group in student_groups %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            <a href="{{ path('app_student_groups_show', {'id': student_group.id}) }}"> {{ student_group.Name }}
                                                <br><span
                                                        class="text-muted">{{ student_group.Code }}</small></a></td>
                                        <td>{{ student_group.GroupLeader }}</td>
                                        <td>{{ student_group.CourseNumber }}/{{ student_group.ParallelNumber }}</td>
                                        <td>
                                            <div class="row">
                                                <div class="btn-group w-75 mx-auto">
                                                    <a class="btn btn-dark"
                                                       href="{{ path('app_student_groups_show', {'id': student_group.id}) }}"><i
                                                                class="fa fa-info-circle"></i> Сведения</a>
                                                    <button type="button"
                                                            class="btn btn-dark  dropdown-toggle dropdown-toggle-split"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="visually-hidden">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item"
                                                               href="{{ path('app_student_groups_edit', {'id': student_group.id}) }}"><i
                                                                        class="fa fa-pencil"></i> Редактировать</a>
                                                        </li>
                                                        <li><a class="dropdown-item"
                                                               href="{{ path('app_student_groups_show', {'id': student_group.id}) }}"><i
                                                                        class="fa-solid fa-turn-up"></i> Перевести на
                                                                сл. курс</a></li>
                                                        <li><a class="dropdown-item" href="#">Something else here</a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
