{% extends 'base.html.twig' %}

{% block title %}ModMosregVis{% endblock %}

{% block body %}
    <h1>ModMosregVis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mod_mosreg_vi.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ mod_mosreg_vi.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ mod_mosreg_vi.Password }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ mod_mosreg_vi.Active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mod_mosreg_vis_index') }}">back to list</a>

    <a href="{{ path('app_mod_mosreg_vis_edit', {'id': mod_mosreg_vi.id}) }}">edit</a>

    {{ include('mod_mosreg_vis/_delete_form.html.twig') }}
{% endblock %}
