{% extends 'base.html.twig' %}
{% set refer = 1 %}
{% set page_title = 'Мероприятия' %}
{% set sub_page_title =  'Добавить мероприятие' %}

{% block title %}
    {% if page_title is defined %} {{ page_title }} {% endif %}
{% endblock %}

{% block topmenu_items %}
    {{ parent() }}
    <a href="{{ path('app_events_list_new') }}" class="btn btn-sm btn-outline-light push"><i class="fa fa-plus"></i>
        Добавить</a>
{% endblock %}

{% block body %}
    <div id="studentList"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>EventDate</th>
                <th>IsGroupEvent</th>
                <th>EventStartTime</th>
                <th>EventEndTime</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for events_list in events_lists %}
            <tr>
                <td>{{ events_list.id }}</td>
                <td>{{ events_list.Name }}</td>
                <td>{{ events_list.EventDate ? events_list.EventDate|date('Y-m-d') : '' }}</td>
                <td>{{ events_list.IsGroupEvent ? 'Yes' : 'No' }}</td>
                <td>{{ events_list.EventStartTime ? events_list.EventStartTime|date('H:i:s') : '' }}</td>
                <td>{{ events_list.EventEndTime ? events_list.EventEndTime|date('H:i:s') : '' }}</td>
                <td>{{ events_list.Comment }}</td>
                <td>
                    <button onclick="getStudentList({{ events_list.id }})">Назначить участников</button>
                    <a href="{{ path('app_events_list_show', {'id': events_list.id}) }}">Просмотреть</a>
                    <a href="{{ path('app_events_list_edit', {'id': events_list.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block customjs %}

        function getStudentList(eventId) {
            $container = document.getElementById("studentList");
            $container.replaceChildren();
            $.ajax({
                type: "GET",
                url: "/student/json/",
                dataType: 'json',
                data: {
                    requestType: "EventList",
                    event: eventId},
                success: function (result) {
                    result.forEach(function (value) {
                            var checkbox = document.createElement('input');
                            checkbox.type = "checkbox";
                            checkbox.name = "name";
                            checkbox.value = value["id"];
                            checkbox.id = value["id"];
                            var label = document.createElement('label')
                            label.htmlFor = "id";
                            label.appendChild(document.createTextNode(value['LastName'] + " " + value['FirstName'] + " " + value['MiddleName']));
                            $container.appendChild(checkbox);
                            $container.appendChild(label);
                        }
                    )
                    //(element)=>console.log(element));
                },
                error: function (result) {
                    alert('error');
                }
            });
        }

{% endblock %}
