{% if (app.user.staff is defined) %}
{% if (app.user.staff.photo=='') %}
{% set userphoto = '/assets/media/avatars/avatar0.jpg' %}
{% else %}
    {% set userphoto=app.user.staff.photo %}
{% endif %}

<div class="dropdown d-inline-block ms-2">
    <button type="button" class="btn btn-sm btn-alt-secondary d-flex align-items-center"
            id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <img class="rounded-circle" src="{{ userphoto }}" alt="Header Avatar"
             style="width: 21px;">
        <span class="d-none d-sm-inline-block ms-2 align-middle">{{ app.user.email }}</span>
        <i class="fa fa-fw fa-angle-down d-none d-sm-inline-block opacity-50 ms-1 mt-1"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end p-0 border-0"
         aria-labelledby="page-header-user-dropdown">
        <div class="p-3 text-center bg-body-light border-bottom rounded-top">
            <img class="img-avatar img-avatar48 img-avatar-thumb"
                 src="{{ userphoto }}" alt="">
            <p class="mt-2 mb-0 fw-medium">
                {% if app.user.isIsStudent() %}
                    {{ app.user.student.firstName~" "~app.user.student.lastName }}
                {% else %}
                    {{ app.user.staff.firstName~" "~app.user.staff.lastName }}
                {% endif %}
                </p>
            <small class="mb-0 text-muted fs-sm fw-light ">
                {% for value in app.user.roles %}
                        <span>{{ value }}</span><br>
                    {% endfor %}

            </small>
        </div>
        <div class="p-2">
            <a class="dropdown-item d-flex align-items-center justify-content-between"
               href="be_pages_generic_inbox.html">
                <span class="fs-sm fw-medium">Inbox</span>
                <span class="badge rounded-pill bg-primary ms-2">3</span>
            </a>
            <a class="dropdown-item d-flex align-items-center justify-content-between"
               href="{{ app.user.id }}">
                <span class="fs-sm fw-medium">Profile</span>
                <span class="badge rounded-pill bg-primary ms-2">1</span>
            </a>
            <a class="dropdown-item d-flex align-items-center justify-content-between"
               href="javascript:void(0)">
                <span class="fs-sm fw-medium">Settings</span>
            </a>
        </div>
        <div role="separator" class="dropdown-divider m-0"></div>
        <div class="p-2">
            <a class="dropdown-item d-flex align-items-center justify-content-between"
               href="op_auth_lock.html">
                <span class="fs-sm fw-medium">Lock Account</span>
            </a>
            <a class="dropdown-item d-flex align-items-center justify-content-between"
               href="op_auth_signin.html">
                <span class="fs-sm fw-medium">Log Out</span>
            </a>
        </div>
    </div>
</div>
{% endif %}