{% if not topmenu is defined %}
    {% set topmenu = false %}
{% endif %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Title and Meta -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- END Title and Meta -->


    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/media/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Page JS Plugins CSS go here -->


    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="/assets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/assets/js/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/assets/js/plugins/dropzone/min/dropzone.min.css">
    <link rel="stylesheet" href="/assets/js/plugins/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="/assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="/assets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">


    <link rel="stylesheet" id="css-main" href="/assets/css/oneui.css">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/amethyst.min.css"> -->
    <!-- END Stylesheets -->


    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {# { encore_entry_link_tags('app') } #}
    {% endblock %}
    <script src="/assets/js/lib/jquery.min.js"></script>
    {% block javascripts %}
        {# { encore_entry_script_tags('app') } #}
    {% endblock %}


</head>
<body>

<div id="page-container"
     class="enable-page-overlay side-scroll page-header-fixed">
    <script>
        let pageContainer = document.getElementById("page-container")


        {% if app.user.FrontEndParams is defined and app.user.FrontEndParams['frontend']['sidebar']['sidebar_mini'] is defined  %}
            sidebar_mini = '{{ app.user.FrontEndParams['frontend']['sidebar']['sidebar_mini'] |raw }}',
            sidebar_style = '{{ app.user.FrontEndParams['frontend']['sidebar']['sidebar_style'] |raw }}',
            layout_dark_mode = '{{ app.user.FrontEndParams['frontend']['layout']['dark_mode_'] |raw }}';
        {% else %}
            sidebar_mini = 'off'
            sidebar_style = 'dark'
            layout_dark_mode = 'off'
        {% endif %}
            if (sidebar_mini === 'off') {
                    pageContainer.classList.add('sidebar-o');
                } else {
                    pageContainer.classList.add('sidebar-mini');
                }
                if (layout_dark_mode === 'on') {
                    pageContainer.classList.add('sidebar-dark');
                    pageContainer.classList.add('page-header-dark');
                    pageContainer.classList.add('dark-mode');
                } else {
                    if (sidebar_style === 'dark') {
                        pageContainer.classList.add('sidebar-dark');
                    }
                }

    </script>

    {% include '_side_overlay.html.twig' %}
    {% include '_sidebar.html.twig' %}
    {% include '_header.html.twig' %}

    <!-- Main Container -->
    <main id="main-container">
        <!-- Hero -->

        <div class="bg-body-light">
            <div class="content content-full">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-1">
                    {% if (refer is defined and refer_link is defined) and refer!=0 %}
                        <div class="flex-grow-0"><a href="{{ refer_link }}"
                                                    class="btn btn-secondary mx-2"><i class="fa-solid fa-reply"></i></a>
                        </div>
                    {% else %}

                    {% endif %}

                    <div class="flex-grow-1">
                        <h1 class="h3 fw-bold mb-2">
                            {% if page_title is defined %} {{ page_title }} {% endif %}
                        </h1>
                        <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                            {% if sub_page_title is defined %} {{ sub_page_title |raw }} {% endif %}
                        </h2>
                    </div>
                    <!--<nav class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3" aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-alt">
                            <li class="breadcrumb-item">
                                <a class="link-fx" href="javascript:void(0)">Layout</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="link-fx" href="javascript:void(0)">Page</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                Default
                            </li>
                        </ol>
                    </nav>-->
                </div>



            </div>

        </div>
        <!-- END Hero -->

        <div class=" ">
            <div class="block  block-themed ">
                <div class="block-header bg-secondary">
                    <h1> </h1>
                    <div class="block-options">

                        {% block topmenu_items %}


                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content -->
        <div class="content pt-0">
            <div class="progress d-none" id="pbmain_div" style="height: 50px">
                <div id="pbmain"
                     class="progress-bar  progress-bar-striped progress-bar-animated bg-secondary text-light"
                     role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            {% block body %}{% endblock %}

        </div>
        <!-- END Page Content -->

    </main>
    <!-- END Main Container -->
    {% include '_footer.html.twig' %}

</div>


<!--
        OneUI JS

        Core libraries and functionality
        webpack is putting everything together at assets/_js/main/app.js
    -->
<script src="/assets/js/oneui.app.js"></script>


<script src="/assets/js/lib/jquery.min.js"></script>


<!-- Page JS Plugins -->

<!-- Charts  -->
<script src="/assets/js/plugins/chart.js/chart.umd.js"></script>
<!-- End Charts -->

<!-- Bootstrap Notify -->
<script src="/assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<!-- End Bootstrap Notify -->

<!--Form Plugins-->
<script src="/assets/js/plugins/flatpickr/flatpickr.min.js"></script>
<script src="/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/assets/js/plugins/select2/js/select2.full.min.js"></script>
<script src="/assets/js/plugins/jquery.maskedinput/jquery.maskedinput.min.js"></script>
<script src="/assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="/assets/js/plugins/dropzone/min/dropzone.min.js"></script>
<script src="/assets/js/plugins/ckeditor5-classic/build/ckeditor.js"></script>
<!--End Form Plugins -->

<!--slick-carousel-->
<script src="/assets/js/plugins/slick-carousel/slick.min.js"></script>
<!--END slick-carousel-->

<!-- DataTable -->
<script src="/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/assets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="/assets/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
<script src="/assets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="/assets/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
<script src="/assets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
<script src="/assets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
<script src="/assets/js/plugins/datatables-buttons/buttons.print.min.js"></script>
<script src="/assets/js/plugins/datatables-buttons/buttons.html5.min.js"></script>

<!-- End DataTable -->


<script src="/assets/js/plugins/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="/assets/js/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>




<script>
    One.helpersOnLoad(['js-flatpickr', 'jq-datepicker', 'jq-notify', 'jq-maxlength', 'jq-select2', 'jq-masked-inputs', 'jq-rangeslider', 'jq-slick','js-ckeditor5']);

</script>

<script>

    var timer;

    function hideProgressBar() {
        document.getElementById('pbmain').setAttribute("style", 'width:0%');
        document.getElementById('pbmain_div').classList.remove('d-block');
        document.getElementById('pbmain_div').classList.add('d-none')
    }

    const eventSource = new EventSource("{{ mercure('popup-notify')|escape('js') }}");
    eventSource.onmessage = event => {
        clearTimeout(timer);
        // Will be called every time an update is published by the server
        var message = JSON.parse(event.data);
        /* One.helpers('jq-notify', {
             type: message.type,
             from: 'bottom',
             icon: message.icon,
             title: message.header,
             message: message.header + ' ' + message.message
         });*/
        //console.log('width: '+12+Math.random()+'%');
        //console.log(message.currentElement);
        //console.log(message.countElement);

        // console.log(JSON.parse(event.data));
        document.getElementById('pbmain_div').classList.remove('d-none');
        document.getElementById('pbmain_div').classList.add('d-block');
        var progressbar = document.getElementById('pbmain');
        progressbar.setAttribute("style", 'width: 100%');
        progressbar.innerHTML = '<b> Фоновая задача: ' + message.header + ' ' + message.message + '</b>';
        timer = setTimeout(hideProgressBar, 5000);

    }
</script>


<script>
    //    One.helpers('jq-notify', {from: 'bottom', message: 'Your message!'});
    const ToastNotify = new EventSource("{{ mercure('toast-notify')|escape('js') }}");
    ToastNotify.onmessage = event => {
        var message = JSON.parse(event.data);
        One.helpers('jq-notify', {
            type: message.type,
            from: 'bottom',
            icon: message.icon,
            title: message.header,
            message: message.header + ' ' + message.message
        });
    }

</script>
<script>

    !(function () {
        class e {
            static initDataTables() {
                jQuery.extend(jQuery.fn.DataTable.ext.classes,
                    {
                        sWrapper: "dataTables_wrapper dt-bootstrap5",
                        sFilterInput: "form-control form-control-sm",
                        sLengthSelect: "form-select form-select-sm"
                    }),
                    jQuery.extend(!0, jQuery.fn.DataTable.defaults, {
                        language: {
                            lengthMenu: "_MENU_",
                            search: "_INPUT_",
                            searchPlaceholder: "Поиск..",
                            info: "Страница <strong>_PAGE_</strong> из <strong>_PAGES_</strong>",
                            paginate: {
                                first: '<i class="fa fa-angle-double-left"></i>',
                                previous: '<i class="fa fa-angle-left"></i>',
                                next: '<i class="fa fa-angle-right"></i>',
                                last: '<i class="fa fa-angle-double-right"></i>'
                            },
                        },
                    }),
                    jQuery.extend(!0, jQuery.fn.DataTable.Buttons.defaults, {dom: {button: {className: "btn btn-sm btn-primary"}}}),
                    jQuery(".js-dataTable-full").DataTable({
                        pageLength: 25,
                        lengthMenu: [
                            [25, 35, 45, 55],
                            [25, 35, 45, 55],
                        ],
                        autoWidth: !1,
                    }),
                    jQuery(".js-dataTable-full-pagination").DataTable({
                        pagingType: "full_numbers",
                        pageLength: 25,
                        lengthMenu: [
                            [25, 35, 45, 55],
                            [25, 35, 45, 55],
                        ],
                        autoWidth: !1,
                    }),
                    jQuery(".js-dataTable-simple").DataTable({
                        pageLength: 10,
                        lengthMenu: !1,
                        searching: !1,
                        autoWidth: !1,
                        dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-6'i><'col-sm-6'p>>"
                    }),
                    jQuery(".js-dataTable-buttons").DataTable({
                        pageLength: 25,
                        lengthMenu: [
                            [25, 35, 45, 55],
                            [25, 35, 45, 55],
                        ],
                        autoWidth: !1,
                        buttons: ["copy", "csv", "excel", "pdf", "print"],
                        dom: "<'row'<'col-sm-12'<'text-center bg-body-light py-2 mb-2'B>>><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    }),
                    jQuery(".js-dataTable-responsive").DataTable({
                        pagingType: "full_numbers",
                        pageLength: 25,
                        lengthMenu: [
                            [25, 35, 45, 55],
                            [25, 35, 45, 55],
                        ],
                        autoWidth: !1,
                        responsive: !0,
                    });
            }

            static init() {
                this.initDataTables();
            }
        }

        One.onLoad(() => e.init());
    })();
</script>



<script>
    {% block customjs %}
    {% endblock %}
</script>
</body>


</html>
