{% extends 'base.html.twig' %}

{% block title %}AdmissionPlan index{% endblock %}

{% block body %}
    <h1>AdmissionPlan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TargetCount</th>
                <th>faculty</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admission_plan in admission_plans %}
            <tr>
                <td>{{ admission_plan.id }}</td>
                <td>{{ admission_plan.TargetCount }}</td>
                <td>{{ admission_plan.faculty }}</td>
                <td>
                    <a href="{{ path('app_admission_plan_show', {'id': admission_plan.id}) }}">show</a>
                    <a href="{{ path('app_admission_plan_edit', {'id': admission_plan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admission_plan_new') }}">Create new</a>
{% endblock %}
