{% extends 'base.html.twig' %}
{% set refer = 1 %}
{% set canreset = 0 %}
{% set page_title = 'Приемная комиссия' %}

{% set sub_page_title = 'Конкурсы' %}
{% block topmenu_items %}
    <a class="btn btn-sm btn-outline-light" href="{{ path('app_admission_plan_new') }}"><i class="fa fa-plus"></i> Добавить</a>
{% endblock %}
{% block title %}
    {% if page_title is defined %} {{ page_title }} {% endif %}
{% endblock %}
{% block body %}
    <div class="block block-rounded block-bordered block-themed">
        <div class="block-header block-header-default bg-secondary">
            <h3 class="block-title">Перечень специальностей <small></small></h3>
            <div class="block-options">

            </div>
        </div>
        <div class="block-content">
            <table class="table">
                <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Приемная комиссия</th>
                    <th>Количество мест</th>
                    <th>Специальность</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for admission_plan in admission_plans %}
                    <tr>
                        <td>{{ admission_plan.id }}</td>
                        <td>{{ admission_plan.admission }}</td>
                        <td>{{ admission_plan.TargetCount }}</td>
                        <td>{{ admission_plan.faculty }}</td>
                        <td>

                            {% if admission_plan.HaveAdmissionExamination  %}
                                <a href="{{ path('app_admission_plan_examination_result', {'id': admission_plan.id}) }}">Протокол ВИ</a>
                            {% endif %}
                            <a href="{{ path('app_admission_plan_show', {'id': admission_plan.id}) }}">show</a>
                            <a href="{{ path('app_admission_plan_edit', {'id': admission_plan.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Нет ни одной записи</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
