{% extends 'base.html.twig' %}

{% block title %}ContingentDocumentType index{% endblock %}

{% block body %}
    <h1>ContingentDocumentType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contingent_document_type in contingent_document_types %}
            <tr>
                <td>{{ contingent_document_type.id }}</td>
                <td>{{ contingent_document_type.name }}</td>
                <td>
                    <a href="{{ path('app_contingent_document_type_show', {'id': contingent_document_type.id}) }}">show</a>
                    <a href="{{ path('app_contingent_document_type_edit', {'id': contingent_document_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет ни одной записи</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contingent_document_type_new') }}">Create new</a>
{% endblock %}
